/* env */
:root {
    --color1: #efcf96;
    --color2: #162e48;
    --color3: #254367;
    --color4: #5a5a5a;
    --color5: #d3d3d3;
}
/* font style */
@font-face {
    font-family: 'alhambra';
    src: url('/asset/ALHAMBRA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brittany';
    src: url('/asset/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'libre';
    src: url('/asset/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.alhambra {
    font-family: 'alhambra';
}
.brittany {
    font-family: 'brittany';
}
.libre {
    font-family: 'libre';
}

* {
    box-sizing: border-box;
}

body {
    width: 100% !important;
    max-width: 100vw;
    height: 100% !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* navbar */
nav {
    margin: 0;
    background-color: var(--color2);
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}

.hover\:logo:hover {
    text-shadow: 2px 2px 4px #ffffff;
    animation-duration: 1s;
}

/* section hero */
.hero {
    margin: 0;
    background: linear-gradient(270deg, var(--color4), var(--color2), var(--color3), var(--color5));
    animation: wave 10s ease infinite;
}

img#logo {
    height: auto;
    margin-top: -6rem;
}

h1 {
    font-size: 3rem;
}

/* Custom shadow for only bottom and right side */
.hover\:shadow-custom:hover {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}
/* Scale effect for hover */
.hover\:scale-105:hover {
    transform: scale(1.05) !important; 
}

.hover\:bg-blue3:hover {
    background-color: var(--color3);
}

/* scale effect nav-logo */
.nav-logo {
    transition: 1s;
}
.nav-logo:hover {
    transform: rotate(360deg);
}

/* Untuk layar tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    img#logo {
    }

}

/* Untuk layar handphone */
@media only screen and (max-width: 767px) {
    nav {
        max-width: 100;
    }
    img#logo {
        height: auto;
    }
    .hero {
        width: 125% !important;
        height: auto;
    }
    .hero-text p {
        margin-top: -4rem;
        margin-left: -2rem;
    }
}